.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-image: url(/Proyecto2-Music/assets/header1.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header h3{
    min-width:fit-content;
    margin-left: 10px;
    width:fit-content;
    height: 40px;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    background-color: black;
    color: whitesmoke;
    text-align:left;
}
.header h5{
    min-width:fit-content;
    padding: 0 15px 0 15px;
    margin-left: 10px;
    width:fit-content;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    color: whitesmoke;
    text-align:left;
}
.btn-header{
    min-width: 50px;
    margin: 0px 0 0 20px;
    width: 5%;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}
.btn-header:hover{
    box-shadow: 0 2px 15px 4px rgb(34, 9, 68);
    padding: 13px;
    transition: all 0.5s;
}
.Titulos{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    margin: 0;
    padding: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.contenedor_card_padre{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.753);

}
.card{
    width: 250px;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin: 30px;
    box-shadow: 0 10px 10px 0px rgb(85, 81, 81);
    transition: all 0.25s;
}
.card img{
    width: 100%;
    height: 100%;
    background-size: contain;   
}
.card h4{
    font-weight: 600;
}
.card a{
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
    color: blue;
    background-color: aquamarine;
    margin-bottom: 400px;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 15px 20px 0px black;
}
.card:hover{
    cursor: pointer;
    visibility: visible;  
}

